@layer molecules {
	.base {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);
		inline-size: 100%;
	}

	.cover {
		display: block;
		inline-size: 100%;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);
		padding: var(--spacing-m);
	}

	.details {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);
		padding: var(--spacing-m);

		& .cover {
			inline-size: auto;
		}

		& .content {
			padding-inline: 0;
		}

		@media (width >= 980px) {
			flex-direction: row;
		}
	}
}
